@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --bright-blue: 220 98 61;
    --very-light-gray: 0 0 98;
    --very-dark-blue: 235, 21, 11;
    --check-background: linear-gradient(
      hsl(192deg, 100%, 67%),
      hsl(280deg, 87%, 65%)
    );
  }
}
